img.cat {
    width: 8vw;
    float: right;
}

img.dog {
    width: 8vw;
    float: left;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

img.currentTurnImage {
    width: 50%;
    float: left;
    padding-top: 10px;
}

.exit {
    float: left;
    margin-left: 50px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(255, 55, 55);
    border-radius: 12px;
}

.undo {
    float: right;
    margin-right: 50px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(151, 225, 255);
    border-radius: 12px;
}

.undo:disabled {
    background-color:darkgrey;
}

.wrapper {
    text-align: center;
}

.newGame {
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(62, 227, 62);
    border-radius: 12px;
}