img.cat {
    width: 8vw;
    float: right;
}

img.dog {
    width: 8vw;
    float: left;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

img.currentTurnImage {
    width: 50%;
    float: left;
    padding-top: 10px;
}